/***

1. General Styles
2. Container Styles
3. Typographic Styles
4. iFrame Styles

***/


/*
 1. General Styles
*/

@import 'https://fonts.googleapis.com/css?family=Titillium+Web:400,700';

html {
  font-size: 100%;
}

body {
  background: #333 url('../images/monster.png') no-repeat;
  /* Full Page Background Receipe from CSS Tricks */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*
 2. Container Styles
*/

.container {
  width: 600px;
  margin: 100px auto 20px;
}

section {
  background: rgba(51, 51, 51, .6);  
  padding: 3rem;
}

/* select alternating items starting with the second item  - CSS Tricks */
section:nth-of-type(2n) {
  background: url('../images/bone-bg.png') no-repeat;
  /* Full Page Background Receipe from CSS Tricks */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

section.top {
  width: 100%;
  padding: 0;
  background: none;
}

section.contact {
  text-align: center;
}

footer {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  background: rgba(19, 23, 31, .6);
  margin: 0;
  padding: 1.5rem 3rem;
}

footer div {
  width: 50%;
}

.extra {
  text-align: right;
  margin-left: auto;
  line-height; 1.2rem;
}


/*
 3. Typographic Styles
*/

h1, 
h2 {
  color: #ff3300;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem 0;
  font-size: 3rem;
}

.halloween {
  font-family: 'Titillium Web', sans-serif;
  font-size: 6rem;
}

p,
address {
  font-size: 1.2rem;
  line-height: 1.75;
  margin-bottom: 1.75rem;
}

strong {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
}

ul li {
  list-style: decimal inside;
}

.contact a {
  background: #ff3300;
  font-size: 1.2rem;
  color: #333;
  text-decoration: none;
  padding: .5rem 3rem;
  line-height: 6rem;
  border-radius: 3px;
  font-weight: 700;
}

.contact a:hover {
  background: #585858;
  color: #ff3300;
}

footer a {
  color: #bbb;
  text-decoration: none;
}

.icons a {
  margin-left: 1rem;
}

.extra a {
  color: #fff;
}

footer a:hover {
  color: #585858;
  text-decoration: none;
}

footer p {
  color: #bbb;
  font-size: 90%;
}

.copyright {
  color: #bbb;
  font-size: 90%;
  line-height: 3rem;
  margin-left: 1rem;
}


/*
 4. iFrame Styles
*/

.map-dimensions {
  width: 100%;
  min-height: 300px;
  max-height: 450px;
}

.counter {
  width: 100%;
  height: 240px; 
}